.news-item-page{
  position: relative;
  margin-top: 150px;
  margin-bottom: 35px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 35px 75px 50px;
  z-index: 0;
  h2{
    text-align: center;
  }
  p{
    white-space: pre-wrap;
    line-height: 150%;
    margin-top: 50px;
  }
  &_background{
    width: 100%;
    height: 245px;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
  }
  &_return{
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 45px;
    margin-left: 11.66vw;
    cursor: pointer;
    svg{
      width: 12px;
      height: 10px;
      transform: rotate(180deg);
    }
  }
}